html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
padding: 0; margin: 0;
}
html,body{
display: block;
height: 100%; width: 100%;
overflow: hidden;
}
ul,li,a{
margin: 0; padding: 0;
list-style: none;
text-decoration: none;
}
.main .main-header .main-container .main-footer {
  display: block;
  width: 100%;

}
.main-header {
padding-top:5px;
background-color: black;
width: 100%;
height: 150px;
border-radius: 5px;


}
.main-footer {

  height: 40px;
border-radius: 5px;
background-color: black;
color:white;

}
h4 {
  padding-top: 5px;
}



.main-header img {
  filter: invert(1);
  width: 140px;
	height: 142px;
  opacity: 1;
  position:relative;
  left: 0;
  top: 0;
  margin-left: 2px;
  margin-right: 5px;
  border-radius: 50%;
  webkit-transition: -webkit-transform .8s ease-in-out;
         transition:         transform .8s ease-in-out;
}
ul li a {
font-size: 35px;


 margin-left: 10px;
 margin-right: 10px;

}
div {
  margin-bottom: 12px;
}
p {
  padding: 5px;
}
#copyright {
  text-align: center;
}
.main-header img:hover {
  webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #7F7D7E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker  color */
input[type=submit]:hover {
    background-color: black;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #008F96;
    padding: 20px;
}
body {
  overflow: auto;
  font-family: "Lucida Console", Courier, monospace;
}
.main-header * {
  color: #ABA8A9;


}
.menu-contact{
  vertical-align: 50px;
}
h1 {
  margin-bottom: 10px;
}
h2 {
  margin-top: 10px;
}
.main-header ul {
  position: relative;
  left:800px;
  bottom: 105px;


}
.main-header li{

display: inline-block;
  padding:5px;
}
.main-container ul {
  position: relative;
  left:20px;
  margin-top: 12px;
  margin-bottom: 7px;
  }
.main-container img {
display: inline;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-left: 5px;

}

.main-container div {
  position: relative;
}
